.main{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid cadetblue;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
#incomes,
#outcomes,
#balance{
    font-weight: bold;
}
#incomes{
    color:#32CD32;
}
#outcomes{
    color: red;
}